node_modules
coverage
.#*
docs/_site
docs/files
.bun
dist
build
*.log
.nyc_output
/tests/browser/nunjucks*
/browser
/tests/browser/precompiled-templates.js
/samples/express/js/nunjucks.js
/samples/express/js/templates.js
/nunjucks-original