<div class="weather-widget">
  <div class="weather-row">
    <span class="weather-temp">{{ weather.tempC }}&deg;C</span>
    <span class="weather-cond">{{ weather.condition }}</span>
  </div>
  <div class="weather-meta">
    <span>{{ weather.location }}</span>
    <span>Humidity {{ weather.humidity }}%</span>
    <span>Wind {{ weather.windKph }} km/h</span>
  </div>
</div>
